.prep-chef-1 {
  width: 90%;
  margin: 20px auto 0px auto;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "search text"
  "recipe-detail text";
  grid-row-gap: 10px;
}

.prep-chef-2 {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.6fr 1.5fr;
  grid-template-areas: 
  "day-select"
  "diet"
  "summary";
  grid-row-gap: 10px;
}

.prep-chef-1 img {
  width: 100%;
  height: auto;
}

.prep-chef-2 img {
  width: 100%;
  height: auto;
}

.prep-chef-text {
  grid-area: text;
  margin: 0px;
  padding: 10px;
}

.prep-chef-text p {
  margin: 0;
  color: white;
  line-height: 18px;
  margin-bottom: 10px;
}

.search {
  grid-area: search;
}

.recipe-detail {
  grid-area: recipe-detail;
}

.day-select {
  grid-area: day-select;
}

.diet {
  grid-area: diet;
}

.summary {
  grid-area: summary;
}

@media screen and (max-width: 750px) {
  /* .prep-chef-1 {
    margin: 10px auto 0px auto;
    grid-template-rows: 0.3fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "search"
    "text"
    "recipe-detail";
    grid-row-gap: 5px;
  } */

  .prep-chef-text p {
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 10px;
  }

  .prep-chef-text {
    padding: 0px 10px;
  }
  
  .prep-chef-2 {
    margin: 10px auto;
    grid-row-gap: 5px;
  }
}

@media screen and (max-width: 1100px) {
  .prep-chef-1 {
    margin: 10px auto 0px auto;
    grid-template-rows: 0.3fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "search"
    "text"
    "recipe-detail";
    grid-row-gap: 5px;
  }

}