.graphic {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 30%;
  /* border: 2px solid white; */
  z-index: 2;
  top: -400px;
}

@media screen and (max-width: 950px) {
  .graphic {
    margin-top: 220px;
    height: 100%;
  }

  .ts-particles-canvas-el {
    width: 30%;
  }

  #tsparticles {
    width: 30%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  #tsparticles {
    width: 50%;
    margin: 0 auto;
  }
}