.aeternam-1 {
  width: 90%;
  margin: 20px auto 0px auto;
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.3fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "text text"
    "erd erd"
    "postico postico";
  grid-row-gap: 20px;
}

.aeternam-text {
  grid-area: text;
  margin: 0px;
  color: white;
}

.ERD {
  grid-area: erd;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ERD img {
  width: 100%;
  height: auto;
}

.postico img {
  width: 100%;
  height: auto;
}

.heroku img {
  width: 100%;
  height: 50%;
}

.postico {
  grid-area: postico;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.heroku {
  grid-area: heroku;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.aeternam-2 {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.7fr 0.5fr 0.5fr;
  grid-template-areas:
    "auth auth-text"
    "reviews edit"
    "reviews add";
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.auth {
  grid-area: auth;
}

.auth img {
  width: 100%;
}

.auth-text {
  grid-area: auth-text;
  margin: 0px;
  color: white;
  padding: 10px;
}

.reviews {
  grid-area: reviews;
}

.reviews img {
  width: 100%;
}

.edit {
  grid-area: edit;
}

.edit img {
  width: 100%;
}

.add {
  grid-area: add;
}

.add img {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .aeternam-text {
    font-size: 8px;
  }

  .auth-text {
    font-size: 8px;
  }

  .aeternam-1 {
    grid-row-gap: 10px;
    margin: 10px auto 0px auto;
  }

  .aeternam-2 {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "auth-text"
      "auth"
      "reviews"
      "edit"
      "add";
    grid-row-gap: 10px;
    margin: 10px auto;
  }
}
