.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #171717;
  padding: 20px 70px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0px 20px;
}

li :hover {
  color: white;
  cursor: pointer;
  scale: 1.1;
  transition: 1s;
}

.nav-links {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 0px 10px;
  }

  .nav-links {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  li {
    margin: 0px 10px;
  }

  ul {
    padding: 0px;
  }
}