.project-detail-container {
  height: calc(100vh - 140px);
  width: 95%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.project-detail-container::-webkit-scrollbar {
  border: none !important;
  background-color: #262626 !important;
  border-radius: 20px !important;
  width: 8px !important;
}

.project-detail-container::-webkit-scrollbar-thumb {
  border: none !important;
  background-color: #121212 !important;
  border-radius: 20px !important;
  margin-right: 10px !important;
}

.section-1 {
  width: 80%;
  margin: 40px auto;
  height: 90%;
  border: 1px solid white;
}

.section-2 {
  width: 80%;
  margin: 40px auto;
  height: 90%;
  border: 1px solid white;
}

.section-3 {
  width: 80%;
  margin: 40px auto;
  height: 90%;
  border: 1px solid white;
}

.scroll {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .project-detail-container::-webkit-scrollbar {
    border: none !important;
    background-color: #262626 !important;
    border-radius: 20px !important;
    width: 4px !important;
  }
}
